<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeBurger</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet">
    <link href="assets/css/burger.css" rel = "stylesheet">
</head>
<body>
    <div>
        {{{ body }}}
    </div>
    <hr>
    <footer class = "center footer">
        <div class = "container">
            <h6>DeBurger</h6>
        </div>
    </footer>
     
</body>
</html>