<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeBurger</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel='stylesheet' href="assets/css/style.css" type="text/css" />
=======
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" type="text/style" rel="stylesheet">
>>>>>>> d039026ea3ba0c5947a4ed9b7c638b120e10b955
</head>
<body>
    <div>
        {{{ body }}}
    </div>
    <hr>
    <footer class = "center footer">
        <div class = "container">
            <h6>DeBurger</h6>
        </div>
    </footer>
     
</body>
</html>