li {
    padding: 10px;
    margin: 10px;
}

.label {
    font-weight: bolder;
}

.center {
    text-align: center;
}

.right {
    align-content: right;
}

img {
    align-content: center;
}

h6 {
    text-align: center;
}

h2 {
    text-align: center;

}

h3 {
    text-align: center;
}

.create-update-form {
    padding: 15px;
    margin: 15px;
    border: 1px black;
}

.btn-secondary {
    border-radius: 10px;
}

.form-group {
    margin-bottom: 25px;
}

html, body {
    height: 100%
}

body {
background-image: url(https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F545370%2Fburger-on-marble-background.jpg&w=700&op=resize);
background-position: center center;
background-repeat: no-repeat;
}

div, body {
    margin: 0;
    padding: 0;
    color: black;
}

.wrapper {
    height: 100%;
    width: 100%;

}

.message {
    width: 100%;
    height: 50%;
    display: block;
    position: absoulute;

}